FindString/bin/*
FindString/obj/*
CodeReview/bin/Debug/PVCSTools.dll
CodeReview/bin/Debug/PVCSTools.pdb
CodeReview/bin/Release/CodeReview.exe
CodeReview/bin/Release/CodeReview.pdb
CodeReview/bin/Release/CodeReview.vshost.exe
CodeReview/bin/Release/Microsoft.TeamFoundation.WorkItemTracking.Client.DataStoreLoader.dll
CodeReview/bin/Release/Microsoft.WITDataStore.dll
CodeReview/bin/Release/PVCSTools.dll
CodeReview/bin/Release/PVCSTools.pdb
CodeReview/bin/Release/tfErrorLog.txt
CodeReview/obj/Debug/CodeReview.exe
CodeReview/obj/Debug/CodeReview.pdb
CodeReview/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CodeReview/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CodeReview/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
CodeReview/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
CodeReview/obj/Release/CodeReview.exe
CodeReview/obj/Release/CodeReview.pdb
CodeReview/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CodeReview/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CodeReview/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
CodeReview/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
CodeReview/bin/Debug/CodeReview.exe
CodeReview/bin/Debug/CodeReview.pdb
CodeReview/bin/Debug/CodeReview.vshost.exe
CodeReview/bin/Debug/FindString.vshost.exe
CodeReview/bin/Debug/Microsoft.TeamFoundation.WorkItemTracking.Client.DataStoreLoader.dll
CodeReview/bin/Debug/Microsoft.WITDataStore.dll
